/* body */
body {
  background-color: #fff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/* logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-colortext {
  color: #2196f3;
}

/* site-nav */

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

.link-current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */
.hero {
  background-color: #2f303a;
  text-transform: uppercase;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section */

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-list {
  color: #757575;

  font-size: 14px;
  line-height: 1.7;
}

/* What are we doing */

.doing .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list {
  color: #757575;

  font-size: 16px;
  line-height: 1.18;
}

/* batton */
.batton {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.batton:hover,
.batton:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-colortext {
  color: #ffffff;
}

/* portfolio  batton*/
.batton-second {
  background-color: #ffffff;
  cursor: pointer;
}

.site-nav .batton-second:hover,
.site-nav .batton-second:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
