:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
}

/* body */
body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

/* logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-colortext {
  color: var(--blue-color);
}

.auth-nav .phone {
  white-space: nowrap;
}

.auth-nav .mail {
  margin-right: 50px;
}

.auth-nav .item .mail {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .item .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .item .link.is-active {
  color: #2196f3;
}

.horizontal-line {
  width: 1200px;
  margin: 0px;
  border: 1px solid #eeeeee;
  margin-bottom: 91px;
}

/* CONTAINER */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 12px;
}

.container-portfolio {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-doing {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-team-names {
  padding: 30px 0px 30px 0px;
}

/* site-nav */

.main-nav {
  display: flex;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.main-nav-heder {
  display: flex;
  justify-content: space-between;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-color);
}

.auth-nav .mail:hover,
.auth-nav .mail:focus {
  color: var(--blue-color);
}

.auth-nav .item + .item .auth-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--blue-color);
}

.link-current {
  color: var(--blue-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */
.hero {
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 187px;
  padding-top: 213px;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* section */

.section-peculiarities {
  padding-bottom: 94px;
  padding-top: 107px;
}

.peculiarities {
  display: flex;
  justify-content: space-between;
}

.peculiarities-item {
  width: 270px;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  justify-content: space-between;

  margin-top: 0px;
  margin-bottom: 10px;
}

.section-list {
  color: var(--secondary-text-color);
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.7;
}

/* What are we doing */

/* team */

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  /* margin-top: 30px; */
  text-align: center;
}

.team-list-profession {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  /* padding-bottom: 30px; */
}

/* batton */
.batton {
  color: #ffffff;
  background-color: var(--blue-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
}

.batton:hover,
.batton:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
}

.footer .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: block;
}

.footer-colortext {
  color: #ffffff;
}

/* portfolio  batton*/
.batton-second {
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 5px;
  padding: 6px 22px;
}

.site-nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.site-nav-portfolio .portfolio-project .batton-second:hover,
.site-nav-portfolio .portfolio-project .batton-second:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

.site-nav .portfolio-project .batton-second:hover,
.site-nav .portfolio-project .batton-second:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

/* What are we doing */

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.doing-site {
  display: flex;
}
.doing-pic {
  margin-right: 30px;
}

.doing-pic:nth-child(3n) {
  margin-right: 0px;
}

.doing-pic:not(:nth-last-child(-n + 3)) {
  margin-right: 0px;
}

/* .doing-pic:not(:nth-child(3)) {
  margin-right: 0px;
  border: 10px solid silver;
  border: 10px solid silver;
} */

/* <!--Portfolio--> */

.portfolio {
  padding-top: 91px;
  padding-bottom: 94px;
}

.top-line-portfolio {
  border-bottom: 1px solid #ececec;
  /* margin-bottom: 94px; */
}

.site-nav {
  justify-content: center;
}

.portfolio-net {
  width: 1200px;
}

.portfolio-net {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  /* margin-bottom: 30px; */
  border: 1px solid #eeeeee;
}

.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

/* .portfolio-item:nth-last-child(-n + 3) {
  /* margin-bottom: 94px; */
/* }

.portfolio-item::nth-child(n + 7) {
  margin-bottom: 0px;
} */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-project {
  margin-right: 8px;
  justify-content: center;
}

.portfolio-items {
  padding: 20px 24px 20px 24px;
}
