:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
  --white-color: #ffffff;
}

/* body */
body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

textarea {
  resize: none;
}

/* подчеркивание ссылки */
.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--blue-color);
}

/* Top line */
.logo {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.main-nav-heder {
  display: flex;
  justify-content: space-between;
}

.logo-colortext {
  color: var(--blue-color);
}

.auth-nav .phone {
  white-space: nowrap;
}

.auth-nav .mail {
  margin-right: 50px;
}

.auth-nav .item .mail {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .item .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .site-nav .item .link.is-active {
  color: var(--blue-color);
} */

.horizontal-line {
  width: 1200px;
  margin: 0px;
  border: 1px solid #eeeeee;
  margin-bottom: 91px;
}

.icon-envelope,
.icon-smartphone {
  display: inline-block;
  align-items: center;
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:hover,
.icon-smartphone:hover,
.icon-envelope:focus,
.icon-smartphone:focus {
  fill: var(--blue-color);
}

.auth-nav .mail:hover,
.auth-nav .mail:focus {
  color: var(--blue-color);
}

.mail:hover .icon-envelope,
.link:hover .icon-smartphone {
  fill: var(--blue-color);
}
.icon-envelope:hover,
.icon-smartphone:hover {
  color: var(--blue-color);
}

/* CONTAINER */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}

.container-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-portfolio {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-doing {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-team-names {
  padding: 30px 0px 30px 0px;
}

/* site-nav */

.main-nav {
  display: flex;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.site-nav .item {
  margin-right: 50px;
  padding: 32px 0px;
  position: relative;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .active {
  color: var(--blue-color);
}

.auth-nav .item + .item .auth-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--blue-color);
}

.link-current {
  color: var(--blue-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.3)
    ),
    url(../images/mainpicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 187px;
  padding-top: 213px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* section */

.section-peculiarities {
  padding-bottom: 94px;
  padding-top: 107px;
}

.peculiarities {
  display: flex;
  justify-content: space-between;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-box {
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  justify-content: space-between;

  margin-top: 0px;
  margin-bottom: 10px;
}

.section-list {
  color: var(--secondary-text-color);
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.7;
}

/* What are we doing */

.doing {
  padding-bottom: 94px;
}

/* team */

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  /* margin-top: 30px; */
  text-align: center;
}

.team-list-profession {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  /* padding-bottom: 30px; */
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-right: 10px;
}

.link-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon .social-link:hover,
.social-link:focus,
.link-icon:hover,
.link-icon:focus {
  fill: #ffffff;
  background-color: var(--blue-color);
  border-radius: 50%;
}

.doing-subject {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.competence {
  position: relative;
}

/* batton */
.batton {
  color: #ffffff;
  background-color: var(--blue-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
}

.batton:hover,
.batton:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

/*  Постоянные клиенты  */
.permanent-links {
  display: flex;
  justify-content: space-between;
}

.permanent-link {
  fill: var(--secondary-text-color);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-icon {
  fill: rgba(175, 177, 184, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* display: block; */
}

.permanent-icon:focus,
.permanent-icon:hover {
  fill: var(--blue-color);
}

.permanent-link:hover,
.permanent-link:focus {
  border: 1px solid var(--blue-color);
}

.permanent-link:hover .icon-permanent,
.permanent-link:focus .icon-permanent {
  fill: var(--blue-color);
}

/* portfolio  batton*/
.batton-second {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.site-nav-portfolio .portfolio-project .batton-second:hover,
.site-nav-portfolio .portfolio-project .batton-second:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

.site-nav .portfolio-project .batton-second:hover,
.site-nav .portfolio-project .batton-second:focus {
  color: #ffffff;
  background-color: var(--blue-color);
}

/* What are we doing */

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.doing-site {
  display: flex;
  justify-content: space-between;
}

/* .doing-pic:last-child {
  margin-right: 0px;
} */

/* .doing-pic:nth-child(3n) {
  margin-right: 0px;
} */

/* .doing-pic:not(:nth-last-child(-n + 3)) {
  margin-right: 0px;
} */

/* <!--Portfolio--> */

.portfolio {
  padding-top: 91px;
  padding-bottom: 94px;
}

.top-line-portfolio {
  border-bottom: 1px solid #ececec;
  /* margin-bottom: 94px; */
}

.site-nav {
  justify-content: center;
}

.portfolio-net {
  width: 1200px;
}

.portfolio-net {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  /* margin-bottom: 30px; */
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-project {
  margin-right: 8px;
  justify-content: center;
}

.portfolio-items {
  padding: 20px 24px 20px 24px;
}

/* footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
}

.footer .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: block;
}

.footer-colortext {
  color: #ffffff;
}

.social-links-join {
  display: flex;
  align-items: center;
}

.join {
  padding-left: 70px;
}

.join-text {
  margin-bottom: 20px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-icon-join {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-join:focus,
.link-icon-join:hover {
  background-color: var(--blue-color);
}

/* модалка  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--white-color);
}

.close-icon {
  width: 11px;
  height: 11px;
}

/* Разметка форм  */

.form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-box {
  margin-top: 12px;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.form-container > input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

.form-container {
  position: relative;
}

.form-container > textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-container > textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;

  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.from-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.from-checkbox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 4px;
}

.policy-checkbox {
}

.from-contract {
  color: var(--blue-color);
}

.form-submit {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  display: flex;
  margin: 0 auto;
  border: transparent;
  background-color: var(--blue-color);
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
}

/* анимация */

.card-slide {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: normal;
  position: absolute;
  top: 100%;
  overflow: auto;
  left: 0;
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(-100%);
  /* opacity: 1; */
}
