/* ===== секция особенности =====*/

// 0 - 767
.advantages {
  display: block;
  padding-bottom: 60px;
  padding-top: 60px;

  &__item {
    max-width: 450px;
  }

  &__box {
    background-color: var(--advantages-box);
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
}
// 768 - 1199
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    display: flex;
    justify-content: center;
    &__title {
      text-align: left;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      max-width: 354px;
      margin: 15px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}
// 1200
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 94px;
    padding-top: 94px;

    &__list {
      display: flex;
    }

    &__item {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__box {
      background-color: var(--advantages-box);
      height: 120px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      justify-content: space-between;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: left;
    }

    &__text {
      color: var(--secondary-text-color);
      justify-content: space-between;
      font-size: 14px;
      line-height: 1.7;
    }
  }
}
