/* стили контактов в хедере */
.auth-nav {
  display: none;
}

// 768+

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    & .item > .header-adress__link--margin {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    & .item .mail {
      color: var(--secondary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      // margin-right: 30px;
    }

    & .item .link {
      color: var(--secondary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .item .mail:hover,
    & .item .mail:focus {
      color: var(--blue-color);
    }

    & .item .link:hover,
    & .item .link:focus {
      color: var(--blue-color);
    }

    .header-adress__link {
      display: block;
      align-items: center;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--secondary-text-color);
    }
  }

  .phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .icon-envelope,
  .icon-smartphone {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--blue-color);
    }
  }

  .mail:hover .icon-envelope,
  .link:hover .icon-smartphone,
  .mail:focus .icon-envelope,
  .link:focus .icon-smartphone {
    fill: var(--blue-color);
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
    flex-direction: row;

    &__item--margin {
      margin-right: 30px;
    }
  }

  .mail {
    padding: 32px 0px;
  }

  .auth-nav__link--padding {
    padding: 32px 0px;
  }
}
