/* ===== секция чем мы занимаемся =====*/
.doing {
  padding-bottom: 94px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.doing-site {
  display: flex;
  justify-content: space-between;
}

.doing-subject {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.competence {
  position: relative;
}
