/* ===== футер =====*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__address-section {
    margin-bottom: 60px;
  }

  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
    margin-bottom: 8px;
  }
  &__item .footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__logo--margin {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__section {
    flex-direction: unset;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    &__section {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &__address-section {
      margin-bottom: 0;
    }
  }

  .footer__address {
    margin-bottom: 9px;
  }

  .footer__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer__item .footer__link {
    margin-bottom: 9px;
  }

  .footer__link:hover,
  .footer__link:focus {
    color: var(--blue-color);
  }
}
