/* хедер */
.header {
  border-bottom: 1px solid var(--header-border);
}
@media screen and (min-whidth: 768px) {
  .header {
    &__main-nav {
      display: flex;
      align-items: center;
    }
  }
}
