/* анимация карточек */
.portfolio__card-slide {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: normal;
  position: absolute;
  top: 100%;
  overflow: auto;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
