/* ===== секция постоянные клиенты =====*/
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

.clients-section__title {
  margin: 0px 0px 50px 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-section__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  list-style: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.clients-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: transparent;
  transition-property: color, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__link:focus {
  border-color: var(--blue-color);
  border-radius: 4px;
}

.clients-section__link:hover {
  border-color: var(--blue-color);
  border-radius: 4px;
}

.clients-section__link:focus .clients-section__logo {
  fill: var(--blue-color);
}

.clients-section__link:hover .clients-section__logo {
  fill: var(--blue-color);
}