/* ===== секция герой =====*/
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.3)
    ),
    url(../images/mainpicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 187px;
  padding-top: 213px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  
  &__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
}