/* ===== секция постоянные клиенты =====*/

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;

  &__title {
    margin: 0px 0px 30px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
    justify-content: center;
    list-style: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 15px;

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--link-icon-fill);
    border-radius: 4px;
    outline: transparent;
    transition-property: color, border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 60px;
    fill: var(--link-icon-fill);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus {
    border-color: var(--blue-color);
    border-radius: 4px;
  }

  &__link:hover {
    border-color: var(--blue-color);
    border-radius: 4px;
  }

  &__link:focus &__logo {
    fill: var(--blue-color);
  }

  &__link:hover &__logo {
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 768px) {
  .clients-section__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: auto;

    &__title {
      margin: 0px 0px 50px 0px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &__link {
      width: 170px;
      height: 92px;
      border: 1px solid var(--link-icon-fill);
      border-radius: 4px;
      outline: transparent;
      transition-property: color, border, border-radius;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 106px;
      height: 60px;
      fill: rgba(175, 177, 184, 1);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:focus {
      border-color: var(--blue-color);
      border-radius: 4px;
    }

    &__link:hover {
      border-color: var(--blue-color);
      border-radius: 4px;
    }

    &__link:focus &__logo {
      fill: var(--blue-color);
    }

    &__link:hover &__logo {
      fill: var(--blue-color);
    }
  }
}
