/* навигация в хедере */
.site-nav {
  margin-left: 93px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .item {
    margin-right: 50px;
    padding: 32px 0px;
    position: relative;
  }

  & .item:last-child {
    margin-right: 0;
  }

  & .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link:hover,
  & .link:focus,
  & .active {
    color: var(--blue-color);
  }
}
