/* ===== кнопка героя =====*/
.button {
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
