/* ===== Присоединяйтесь текст ===== */

.join {
  margin-left: 70px;
}

.join-text {
  margin-bottom: 20px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-icon-join {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-join:focus,
.link-icon-join:hover {
  background-color: var(--blue-color);
}

.social-links-join {
  display: flex;
  align-items: center;
}
