/* логотип */
.logo {
  display: flex;
  align-items: center;
  color: var(--blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo--colortext {
  color: #000000;
}
.footer__logo--colortext {
  color: var(--white-color);
}
