/* логотип футера  */
.footer-logo {
  color: var(--blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer-colortext {
  color: var(--white-color);
}
