/* ===== портфолио карточки =====*/
.portfolio__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__card-elment {
  border: 1px solid #eeeeee;
  cursor: pointer;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus .overlay,
  &:hover .overlay {
    transform: translateY(-100%);
  }
}

.portfolio__card-elment--focus {
  text-decoration: none;
}

.portfolio__card-elment--focus:focus .overlay {
  transform: translateY(-100%);
}

.portfolio__card-elment--focus:hover .overlay {
  transform: translateY(-100%);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio__list {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__card-text {
  padding: 20px 24px 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }

  .portfolio__card-elment {
    width: 354px;
    height: 404px;
  }
  .portfolio__card-elment:nth-child(-n + 2) {
    width: 354px;
    height: 440px;
  }
  .portfolio__card-elment {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__cards {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio__card-elment {
    border: 1px solid #eeeeee;
    cursor: pointer;
    margin-right: 30px;

    &:nth-child(-n + 6) {
      margin-bottom: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:focus .overlay,
    &:hover .overlay {
      transform: translateY(-100%);
    }
  }

  .portfolio__card-elment--focus {
    text-decoration: none;
  }

  .portfolio__card-elment--focus:focus .overlay {
    transform: translateY(-100%);
  }

  .portfolio__card-elment--focus:hover .overlay {
    transform: translateY(-100%);
  }

  // .portfolio__card-elment--focus:focus {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     1px 4px 6px rgba(0, 0, 0, 0.16);
  // }

  // .portfolio__card-elment--focus:hover {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     1px 4px 6px rgba(0, 0, 0, 0.16);
  // }

  // .portfolio__cards--box-shadow:focus {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     1px 4px 6px rgba(0, 0, 0, 0.16);
  // }

  .portfolio__card-elment--focus:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
